{% extends 'base.html' %}
{% block content %}
<section class="container mx-auto my-8 p-8 bg-white shadow-lg rounded-lg">
        <h2 class="text-3xl font-semibold mb-4">About ASPays</h2>
        <p class="text-gray-700 mb-6">
            ASPays is a dynamic team of individuals united by our passion for creative print-on-demand solutions. Founded and powered by a collective of visionaries, we are dedicated to delivering unique, high-quality customized products to our valued customers.
        </p>
        <p class="text-gray-700 mb-6">
            While ASPays operates as a team of individuals, our commitment to excellence is unwavering. We believe that every individual deserves the opportunity to express themselves through personalized products, and we're here to make that happen.
        </p>
        <p class="text-gray-700">
            Join us on this exciting journey, and let's explore the endless possibilities of print-on-demand together. Your satisfaction is our motivation, and we look forward to serving you as a united team of creative minds.
        </p>
    </section>
{% endblock %} 