{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return and Exchange Policy</title>
</head>
<body>
    <h1>Return and Exchange Policy</h1>

    <p><strong>Last Updated:</strong> 29:08:23</p>

    <p>Thank you for choosing ASPays for your print-on-demand products. As a new company, we have a unique return and exchange policy designed to ensure that we provide high-quality products to serious buyers. Please read this policy carefully before making a purchase.</p>

    <h2>Returns</h2>

    <p>As a new company, we will not be offering refunds for a limited period. However, we are committed to ensuring that you receive products of the highest quality. If you receive a defective item, we will gladly exchange it for a new, non-defective one.</p>

    <p><strong>Eligibility for Exchange:</strong></p>

    <ol>
        <li>You must notify us of the defect within 7 days of receiving the item.</li>
        <li>The item must be in its original packaging and unused.</li>
        
    </ol>

    <h2>Exchange Process</h2>

    <p>Once you've contacted us and we've determined that your product is eligible for an exchange due to a defect, we will provide you with instructions on how to proceed:</p>

    <ol>
        <li>Pack the defective item securely in its original packaging, along with any included accessories.</li>
        <li>Ship it back to the provided return address as per our instructions.</li>
        <li>Once we receive the defective item and verify the defect, we will promptly send you a replacement item at no additional cost.</li>
    </ol>

    <h2>Non-Returnable Items</h2>

    <p>Please note that we do not accept returns or exchanges for any reasons other than defects at this time. We reserve the right to refuse any exchanges if the item does not meet the eligibility criteria mentioned above.</p>

    <h2>Cancellation Policy</h2>

    <p>You may cancel your order within 1 day of placing it, as long as it has not yet entered the production process.</p>

    

    <p>We appreciate your understanding and support as we strive to deliver exceptional products. Your patience and trust are greatly valued as we embark on this journey as a new company.</p>
</body>
</html>

{% endblock %}