{% extends 'base.html' %}

{% block content %}
<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
      
      




        <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-800 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
          <p class="leading-relaxed text-lg mb-4">Terms and Conditions of Use
<br>
<br>
<br>
Last Updated: 28:08:23
<br>
Please read these Terms and Conditions of Use ("Terms") carefully before using our website. By accessing or using the Website, you agree to comply with and be bound by these Terms. If you do not agree to these Terms, please do not use the Website.
<br>
<br>
<h1>Acceptance of Terms</h1>
<br>
By accessing and using the Website, you agree to be bound by these Terms and any applicable laws and regulations. If you do not agree with these Terms, please refrain from using the Website.
<br>
<br>
Use of the Website:
<br>
a. You must be at least 12 years old to use this Website.
<br>
b. You agree to use the Website for lawful purposes only and in a manner consistent with all applicable laws and regulations.
<br>
c. You agree not to engage in any activity that may disrupt or interfere with the proper functioning of the Website.
<br>
<br>
Product Listings:
<br>
a. We offer print-on-demand products through third-party suppliers. Product listings, including descriptions, prices, and availability, are subject to change without notice.
<br>
b. We make every effort to display accurate product images, but colors and sizes may vary.
<br>
c. We do not guarantee the availability of any specific product at any given time.
<br>
<br>
Order Fulfillment:
<br>
a. Orders are processed and fulfilled by third-party suppliers.
<br>
b. Shipping times and costs may vary depending on the supplier and the destination.
<br>
c. We are not responsible for delays, lost shipments, or any issues related to the fulfillment process.
<br>
<br>
Returns and Refunds:
<br>
a. Returns and refunds are subject to our Return Policy, which can be found <a class="text-white" href="/returnpolicy">Here</a>.
<br>
b. Please review our Return Policy carefully before placing an order.
<br>
<br>
Intellectual Property:
<br>
<br>
a. All content on the Website, including text, graphics, logos, images, and software, is protected by copyright and other intellectual property laws.
<br>
b. You may not use, reproduce, distribute, or create derivative works from any content on the Website without our prior written consent.
<br>
<br>
Privacy:
<br>
a. Your use of the Website is governed by our Privacy Policy, which can be found <a class="text-white" href="/privacy">Here</a>.
<br>
b. By using the Website, you consent to the collection and use of your information as described in our Privacy Policy.
<br>
<br>
Limitation of Liability:
<br>
a. We are not liable for any direct, indirect, incidental, special, or consequential damages arising from your use of the Website.
<br>
b. We make no warranties or representations about the accuracy or completeness of the content on the Website.
<br>
<br>
Termination:
<br>
We reserve the right to terminate or suspend your access to the Website at our sole discretion, without notice, for any reason, including a breach of these Terms.
<br>
<br>
Content Change:
<br>
a. Contents and use cases of the website might change in future, therefore we do not hold any client's money on our website as wallet money deposit
<br>
b. Some of this website's pages/current page links could be made microservices and would be serving the main website from different urls, or under the same domain to give client fast and better experience. In future, these microservices (Product Listings/Payments/Product Reviews) could be on same url with different servers, or domain aliases might be changed in some microservices to encrypt user sensitive data on pages such as in Payments page, and the microservices could also be used in other use cases by third party services additional to this website. 
<br>
<br>
By using this Website, you acknowledge that you have read, understood, and agree to these Terms and Conditions of Use.</p>
          <a class="text-yellow-400 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>











        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}